<h1>User - <%= @user.name %></h1>
<%= link_to "add point", new_admin_point_path(@user) %><br/>
<%= link_to "back to all users", admin_users_path %>

<table>
  <% @user.points.each do |point| %>
  <tr>
    <th>Point</th>
    <th>Redeemed?</th>

  </tr>
  <tr>
    <td><%= point.point %></td>
    <td><%=point.redeemed?%></td>
  </tr>
  <% end %>
</table>

<h3>Total Points:<%= @user.total_points%></h3>
